* {
  font-family: monospace, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#F98909;
}

/*Plan your week homescreen*/
.homeHeading {
  text-align: center;
  margin-top: 15vh;
}

/* creates calendar on home page*/
.week {
  display: flex;
  height: 40vh;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}


.day {
  text-align: center;
  align-items: center;
  font-weight: bold;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  
  color: #F98909;
  padding: 5px;
  background-color: transparentize(white, 0.30);
  box-shadow: 
    -3px -3px #F9A440, 
    inset -3px -3px 0 0 #F9A440;
}


/*task styling*/
.task {
  padding: 0.6rem;
}

.task ul {
  padding: 0.2rem;
}

.task ul li{
  padding: 0.3rem;
  list-style-type: none;
  align-self: center;
  border-radius: 0.5rem;
  background:#F98909;
  color:#fff;
}

.task ul li:hover {
  background:#76cc90;
  content: "Completed?";
}

button {
  border-radius: 0.5rem;
  background-color: #F98909;
  box-shadow: 5px 10px #888888;
}

button:hover {
  box-shadow: none;
}

/* submit button styling */
.add-button {
  margin-top: 4vh;
  margin-left: 37.5vw;
  position: center;
  color: #fff; 
  font-size: 2rem;
  width: 25vw;
  height: 8vh;
  cursor: pointer; 
  border: none; 
}

/*pop up menu styling*/
.modal {
  width: 15vw;
  padding: 2rem;
  box-shadow: 
    -3px -3px #F9A440, 
    inset -3px -3px 0 0 #F9A440;
  outline-style: outset;
  background-color: #fff;
}

.content {
  padding-bottom: 2rem;
}